Repository Erkinov97/imzo-agnost: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix, eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "oxlint --fix",
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

fix: rename commitlint config to .cjs extension
  .lintstagedrc
  commitlint.config.cjs
Due: none

feat: modernize project with comprehensive documentation and tooling
  .lintstagedrc
  README.md
  commitlint.config.ts
  docs/README.md
  docs/advanced/architecture.md
  docs/api.md
  docs/examples/README.md
  docs/installation.md
  docs/plugins/README.md
  docs/plugins/pfx.md
  docs/quickstart.md
  eslint.config.js
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  src/core/plugin-base.ts
  src/core/types.ts
  src/e-imzo-client.ts
  src/e-imzo/base64.ts
  src/eimzo-api.ts
  src/examples-comprehensive-fixed.ts
  src/examples-comprehensive.ts
  src/examples-fixed.ts
  src/examples.ts
  src/global-fixed.ts
  src/index.ts
  src/plugins/crl.ts
  src/plugins/pkcs10.ts
  src/plugins/pkcs7.ts
  src/plugins/pki.ts
  src/plugins/truststore-jks.ts
  src/plugins/tunnel.ts
  tsconfig.json
  tsup.config.ts
Due: oxlint --fix, eslint --fix, prettier --write

refactor: completely remove ESLint disables and fix all type safety issues
  src/e-imzo-client.ts
Due: oxlint --fix, eslint --fix, prettier --write

ci: fix Node.js compatibility issues in GitHub Actions
  .github/workflows/ci.yml
  package.json
Due: prettier --write

feat: add comprehensive VitePress documentation website
  .github/workflows/ci.yml
  docs-site/.vitepress/config.ts
  docs-site/api/index.md
  docs-site/examples/index.md
  docs-site/guide/getting-started.md
  docs-site/guide/installation.md
  docs-site/guide/quick-start.md
  docs-site/index.md
  package.json
  pnpm-lock.yaml
Due: oxlint --fix, eslint --fix, prettier --write

fix: resolve GitHub Pages deployment issues and improve workflow
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  CICD_EXPLANATION.md
  GITHUB_PAGES_SETUP.md
  docs-site/.vitepress/config.ts
Due: oxlint --fix, eslint --fix, prettier --write

fix: improve GitHub Pages deployment with better error handling
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
  GITHUB_PAGES_SETUP.md
Due: prettier --write

fix: resolve 'process is not defined' error in browser environments
  .github/workflows/build-docs.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  COMPLETE_DEPLOYMENT_GUIDE.md
  LICENSE
  NPM_PUBLISHING_GUIDE.md
  READY_FOR_PRODUCTION.md
  package.json
  polyfills/process-polyfill.js
  src/global-fixed.ts
  src/global.ts
  tsup.config.ts
Due: oxlint --fix, eslint --fix, prettier --write

1.0.1
  package.json
Due: prettier --write

feat: add comprehensive framework integration documentation
  BROWSER_FIX_CHANGELOG.md
  docs-site/examples/angular.md
  docs-site/examples/index.md
  docs-site/examples/nodejs.md
  docs-site/examples/react.md
  docs-site/examples/vanilla.md
  docs-site/examples/vue.md
Due: prettier --write

feat: add comprehensive API documentation with file signing examples
  docs-site/api/index.md
Due: prettier --write

feat: add session management system for automatic key lifecycle
  SESSION_MANAGEMENT.md
  package.json
  src/core/session-manager.ts
  src/examples-session-management.ts
  src/index.ts
  src/plugins/pfx.ts
Due: oxlint --fix, eslint --fix, prettier --write

feat: add enhanced PKCS7 API with auto base64 encoding and smart defaults
  README.md
  docs-site/api/index.md
  package.json
  src/examples-pkcs7-enhanced.ts
  src/examples-session-management.ts
  src/index.ts
  src/plugins/pfx.ts
  src/plugins/pkcs7.ts
Due: oxlint --fix, eslint --fix, prettier --write

docs: add comprehensive plugin documentation for all 17 plugins
  docs-site/.vitepress/config.ts
  docs-site/api/plugins/certkey.md
  docs-site/api/plugins/cipher.md
  docs-site/api/plugins/crl.md
  docs-site/api/plugins/cryptoauth.md
  docs-site/api/plugins/fileio.md
  docs-site/api/plugins/ftjc.md
  docs-site/api/plugins/idcard.md
  docs-site/api/plugins/pfx.md
  docs-site/api/plugins/pkcs10.md
  docs-site/api/plugins/pkcs7.md
  docs-site/api/plugins/pki.md
  docs-site/api/plugins/truststore-jks.md
  docs-site/api/plugins/truststore.md
  docs-site/api/plugins/tsaclient.md
  docs-site/api/plugins/tunnel.md
  docs-site/api/plugins/x509.md
  docs-site/api/plugins/ytks.md
  src/examples-pkcs7-enhanced.ts
Due: oxlint --fix, eslint --fix, prettier --write
